<header>
    <div class="logo">AHK <span>Framework</span></div>
    <div class="menus">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a id="header-btn-create-file" href="/createfile">Create File</a>
        <a id="header-btn-login" href="/login">Login</a>
    </div>
</header>