<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHK Framework</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    <div class="mobile-message">Mobile Device Are Not Supported</div>
    {{> header}}
    <main>
        <div id="cont-about" class="cont-about">
                <h1>About</h1>
            <div class="data">

                <h3>How to Use</h3>
                <div class="how-to-use">
                    <h4>Step 1:</h4>
                    <p>Download AHK Software <a href="https://www.autohotkey.com/download/ahk-install.exe">Link</a></p>

                    <h4>Step 2:</h4>
                    <p>Create AHK File <a href="/createfile">Link</a></p>

                    <h4>Step 3:</h4>
                    <p>Download AHK File</p>

                    <h4>Step 4:</h4>
                    <p>Double click for Run</p>

                    <h4>Step 5:</h4>
                    <p>Press button which is use for run AHK Scrip <span>[ Default <span>"q"</span> is button for run AHK Script ]</span> And <span>[ Default <span>"p"</span> is button for stop AHK Script ]</span></p>
                
                    That's All
                </div>
                <hr>
                <h3>Why Use</h3>
                <div class="extra-info">
                    <p>Automate your Desktop System</p>
                    <p>Click On anywhere in Your computer system</p>
                    <p>Send anything text in your computer system</p>
                    <p>Open anything on desktop</p>
                    <p>stop repeted procces to do all time</p>
                    <p>play with your system and do anything</p>
                    <h3>For more follow this video</h3>
                </div>
                <hr>
                <h3>Admin</h3>
                <div class="admin-info">
                    <p>Bhargav Ghori</p>
                    <p>Smit Meghani</p>
                </div>
                <hr>
            </div>
        </div>
        </main>
    {{> footer}}
    <script src="./JS/index.js"></script>
</body>
</html>