<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create AHK</title>
    <link rel="stylesheet" href="CSS/createfile.css">
</head>
<body>
<div class="mobile-message">Mobile Device Are Not Supported</div>
    <div class="create-ahk">
        <nav>
            {{> nav_item}}
        </nav>
        <input type="hidden" id="FileName" name="FileName" value={{FileName}}>
        <main>
            
        </main>
        <div class="download">
            <button id="downloadButton">Download</button>
        </div>
    </div>
<script src="JS/dropdown.js"></script>
<script src="JS/datafunction.js"></script>
<script src="JS/downloadfile.js"></script>
</body>
</html>