<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AHK Framework</title>
    <link rel="stylesheet" href="./CSS/index.css">
</head>
<body>
    <div class="mobile-message">Mobile Device Are Not Supported</div>
    {{> header}}
    <main>
        <div id="cont-home" class="cont-home">
            <h1>Home</h1>
            <h2>AHK - AutoHotkey</h2>
            <hr />
            <h3>Key Binds</h3>
            <p>Define hotkeys for the mouse and keyboard, remap keys or buttons and
            autocorrect-like replacements. Creating simple hotkeys has never been easier,
            you can do it in just a few lines or less!</p>
            <h3>What is AutoHotkey</h3>
            <p>AutoHotkey is a free, open-source scripting language for Windows that allows
            users to easily create small to complex scripts for all kinds of tasks such
            as: form fillers, auto-clicking, macros, etc.</p>
            <h3>Why AutoHotkey</h3>
            <p>AutoHotkey gives you the freedom to automate any desktop task. It's small,
            fast and runs out-of-the-box. Best of all, it's free, open-source (GNU GPLv2),
            and beginner-friendly. Why not give it a try?</p>
            <h3>Why AHK Framework</h3>
            <p>AHK Framework is easy to use. now create AutoHotkey's very easy, now create
            ahk file using your basic and simple knowledge.</p>
            <p>There are many other language or many other software which help we can create
            automation file But, why choos Autohotkey, Because it's easy to use, easy to
            learn, easy to implement, easy to run.</p>
            <br />
            <h3>Basic On Hotkeys</h3>
            <p>AutoHotkey provides a simple, flexible syntax allowing you to focus more on
            the task at hand rather than every single little technicality. It supports not
            only the popular imperative-procedural paradigm, but also object-oriented and
            command-based programming.</p>

            <h3>On History</h3>
            <p>The AutoHotkey Foundation LLC was founded on April 24th 2014 in Indiana, USA.
            It was created in order to prevent monetization, ensure the continuing
            existence of the software AutoHotkey and naturally, continue the support for
            it. This foundation provides organizational, legal, and financial support for
            this software. It is a volunteer organization created by the community, for
            the community.</p>

            <h3>Who manages AutoHotkey</h3>
            <p>The foundation's managers are Charlie Simmons (tank), Steve Gray (Lexikos)
            and Joachim de Fourestier (joedf) with guidance from Chris Mallett (the
            creator of the software AutoHotkey).</p>
        </div>
        </main>
    {{> footer}}
    <script src="./JS/index.js"></script>
</body>
</html>